.banner .nav {
  @apply list-none p-0 flex flex-wrap;
}

.banner .nav a {
  @apply inline-block px-4 py-2 border-none;

  &:hover {
    color: darken(#525ddc, 30%);
  } 
}


header{
  background-color: var(--blue-1);
  height: 100px;
  overflow: hidden;
  position: relative;


  .contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    z-index: 1;
    }

    nav{
      z-index: 2;
    }


    a{
      color : white;
      margin: 0 25px;
      font-size: 24px;
    }

    .circle{
      
        width: 325px;
        height: 325px;
        background-color: #6347a6;
        border-radius: 50%;
        position: absolute;
        top: -80px;
        left: 55%;
        z-index: 0;
    
  }
    
} 